doctype
html
	head
		link(rel="stylesheet" href="/main.css")
		meta(content='initial-scale=1, shrink-to-fit=no, width=device-width', name='viewport')
		
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons')

		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css')

		script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js')

		style.
			
			body {
				font-family: "News Cycle", sans-serif;
				font-weight: 300 !important;
				font-style: normal;
			}

			 h1, h2, h3, h4, h5, h6 {
				font-family: 'News Cycle', sans-serif;
				font-weight: 300 !important;
				font-style: normal;
			}

			.dignity {
				font-family: 'News Cycle', sans-serif;
				font-weight: 300;
				font-style: normal;
			}

			i, .material-icons, .fa, .fab, .far, .fas {
				vertical-align: middle;
			}

			.container {
				height: 100vh;
				margin-top: 100px;
			}

	body

		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='#') 
				i.fas.fa-sun.fa-2x.mr-2
				| Engenho Novo LLP
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			.collapse.navbar-collapse#navbarSupportedContent
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='#')
							| Lares 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='#') Penates
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle#navbarDropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Suspensa							
						.dropdown-menu(aria-labelledby='navbarDropdown')
							a.dropdown-item(href='#') Agindo
							a.dropdown-item(href='#') Reagindo
							.dropdown-divider
							a.dropdown-item(href='#') Sofrendo
					li.nav-item
						a.nav-link.disabled(href='#') Invalidez
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type='search' placeholder='Curiosidade' aria-label='Search')
					button.btn.btn-outline-secondary.active.my-2.my-sm-0(type='submit') Enviar

		!= yield

		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')

		script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js' integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U' crossorigin='anonymous')

		script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js' integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9' crossorigin='anonymous')

		script $(document).ready(function() { $('body').bootstrapMaterialDesign(); });