.container
	.d-flex.flex-column.justify-content-center.align-items-center
		h1
			i.fas.fa-sun.fa-5x.mb-2
		h1 Iniciativo Arame Farpado 
		h2 Bootstrap Material Design
		h3 Clonado na Samboja
		.d-flex.flex-row.mt-5
			button.btn.btn-primary.btn-lg.active.mr-2(href='#' role='button' aria-pressed='true') Imprints
			button.btn.btn-secondary.btn-lg.active.mr-2(href='#' role='button' aria-pressed='true') Offprints
			.dropdown
				button.btn.btn-default.btn-lg.dropdown-toggle.active#dropdownMenuButton(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Opções
				.dropdown-menu(aria-labelledby='dropdownMenuButton')
					a.dropdown-item(href='#') Nada Demais
					a.dropdown-item(href='#') Pode Ser
					a.dropdown-item(href='#') Faça Algo